<a href="https://colab.research.google.com/github/VenkteshV/Question_duplicate_detection/blob/main/Week7/EM_Splitting_Tagrec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%matplotlib inline
from IPython.display import clear_output
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import json
import numpy as np
from tqdm import tqdm

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [20]:
df = pd.read_csv("drive/My Drive/Extramarks Project/Dataset versions/JEE_EM_tagrec_tagged.csv", index_col = 0 )

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [21]:
# df = df[:1000]

In [9]:
df

,question_id,question,syllabus_id,answer,question_type,len,words,tagrec++_predictions
Unnamed: 0,,,,,,,,
31831,1530293,title in the document shown below is quite bor...,514031,WordArt,Single Choice Question,84,16,"computer science[c++]>>database concepts,compu..."
56188,1643842,abscissa and ordinate of a point are negative in,22091,third quadrant,Single Choice Question,48,9,"computer science[c++]>>boolean algebra,compute..."
40819,1838632,cultivating flowers and other ornamental plant...,744185,Floriculture,Single Choice Question,76,13,"science>>crop production and management,scienc..."
8962,1879418,if a and b are two fixed points then the locus...,698829,A circle,Single Choice Question,122,29,physics>>physics : part - i>>units and measure...
8272,1886297,the negation of p q p is,731477,F,Single Choice Question,24,7,"computer science[c++]>>boolean algebra,chemist..."
...,...,...,...,...,...,...,...,...
4647,1910080,zinc copper couple that can be used as a reduc...,698110,Zinc coated with copper,Single Choice Question,70,14,chemistry>>chemistry : part i>>d and f- block ...
57401,1595674,what is the meaning of the idiomatic phrase se...,6201,all of the above,Single Choice Question,58,11,"physics>>physics : part - ii,computer science[..."
7924,1887098,for any two events e and f what is true,734195,P E F P E P F 1,Single Choice Question,39,10,"science>>why do we fall ill?,computer science[..."
79394,849487,the shortcut key to open a new file,5114,Ctrl N,Single Choice Question,35,8,computer science[c++]>>working with operating ...
83620,828787,what kind of vegetation is found in the himach...,86422,p Thick forests of pine oak deodar and fir tre...,Subjective Question,54,10,social science>>geography : the earth our habi...

In [10]:
label1 = []
label2 = []
label3 = []

for index, row in df.iterrows():
  spl = row['tagrec++_predictions'].split(",")
  label1.append(spl[0])
  label2.append(spl[1])
  label3.append(spl[2])

In [ ]:
df['label1'] = label1
df['label2'] = label2
df['label3'] = label3

In [22]:
df.to_csv("drive/My Drive/Extramarks Project/Dataset versions/Model1-Semantic/JEE_EM_tagrec_tagged_separated_labels.csv")