<a href="https://colab.research.google.com/github/VenkteshV/Question_duplicate_detection/blob/main/Week6/SSDS_obj2subj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Literature Review/Dataset versions/SSDS/SSDS_base_dataset")
df = df.drop("Unnamed: 0", axis= 1)

In [ ]:
df

,question_id,question,syllabus_id,answer,question_type
0,1523485,the first method used for determining the actu...,518161,Swedish geologist Gerard De Geer,Single Choice Question
1,833487,when we subtract a number from itself we get,86295,zero,Single Choice Question
2,2057553,what orbitals has two spherical nodes,697667,6f,Single Choice Question
3,1360683,the reagent used to step up in the homologous ...,449190,Diazomethane,Single Choice Question
4,849902,the shortcut key to delete a slide,5118,Ctrl X,Single Choice Question
...,...,...,...,...,...
117776,472951,a fully mature plant body undifferentiated int...,4069,thallus,Single Choice Question
117777,1224733,how can one hundred and eleven be written,85942,11 tens 1 unit,Single Choice Question
117778,1907752,glycerol is purified by,731308,Vaccum distillation,Single Choice Question
117779,2060201,triclinic crystal has the following unit cell ...,700078,a b c α β γ 90,Single Choice Question
117780,1463635,combine the following simple sentences into a ...,5906,One shouldn't lie or make false promise,Single Choice Question

In [ ]:
df['question_type'].value_counts()

Single Choice Question      75722
Subjective Question         41293
Multiple Choice Question      603
Integer Question              163
Name: question_type, dtype: int64

In [ ]:
# smolDf = df[df['question_type'] != "Subjective Question"][:100]
# smolDf.to_csv("/content/drive/MyDrive/Literature Review/Dataset versions/SSDS/PassedToObj2subj.csv")

In [ ]:
smolDf = pd.read_csv("/content/drive/MyDrive/Literature Review/Dataset versions/SSDS/PassedToObj2subj.csv")

Upload the smolDf to obj2subj and then read the output of obj2subj further as "converted.csv"

In [ ]:
convertedDf = pd.read_csv("converted.csv")

In [ ]:
convertedDf

,Original Ques,Original Answer,Cleaned Objective Ques,Cleaned Answer,Subjective Ques #1,confidence #1,Subjective Ques #2,confidence #2,Subjective Ques #3,confidence #3
0,Unable to resolve,Unable to resolve,Unable to resolve,Unable to resolve,Unable to resolve,Unable to resolve,Unable to resolve,Unable to resolve,Unable to resolve,Unable to resolve
1,as per the consumer protection act a consumer ...,avails services for any commercial purpose,as per the consumer protection act a consumer ...,avails services for any commercial purpose,Who is not a consumer under consumer protectio...,0.67972332239151,What is included in consumer protection?,0.6621015071868896,Who is a consumer what are his rights under Co...,0.6401658058166504
2,in trading account we include,direct expenses,in trading account we include,direct expenses,Is direct expenses shown in trading account?,0.9071319699287415,Does trading account include indirect expenses?,0.8172741532325745,Is trade expense a direct expense?,0.7624610662460327
3,Unable to resolve,Unable to resolve,Unable to resolve,Unable to resolve,Unable to resolve,Unable to resolve,Unable to resolve,Unable to resolve,Unable to resolve,Unable to resolve
4,in metallurgical process the flux used for rem...,Lime stone,in metallurgical process the flux used for rem...,Lime stone,Which of the following flux is used to remove ...,0.8439021706581116,What is in metallurgical process the flux used...,0.8120149374008179,Which of the following fluxes is used to remov...,0.8084845542907715

In [ ]:
convertedDf = convertedDf[convertedDf['Original Ques'] != "Unable to resolve"]

In [ ]:
ssds_res = convertedDf[['Subjective Ques #1', 'Subjective Ques #2']]

In [ ]:
ssds_res.to_csv("/content/drive/MyDrive/Literature Review/Dataset versions/SSDS/obj2Subj.csv")