<a href="https://colab.research.google.com/github/VenkteshV/Question_duplicate_detection/blob/main/Week10/Loading_embedRank_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import os.path
import spacy
from tqdm import tqdm
import time
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!unzip "/content/drive/MyDrive/Extramarks Project/Dataset versions/Model2-Keyword/Embed_and_CotagRank/docsutf8.zip"
!unzip "/content/drive/MyDrive/Extramarks Project/Dataset versions/Model2-Keyword/Embed_and_CotagRank/EmJacc.zip"

In [61]:
def return_ques(loc):
  f = open(loc)
  temp = ''
  Lines = f.readlines()
  for i in Lines:
    temp+= i
  return temp

In [62]:
NQ = 6120

In [63]:
questions = []
for i in range(NQ):
  temp = []
  if os.path.isfile('content/docsutf8/'+ str(i)+ '_1.txt'):
    temp.append(return_ques('content/docsutf8/'+ str(i)+ '_1.txt'))
  if os.path.isfile('content/docsutf8/'+ str(i)+ '_2.txt'):
    temp.append(return_ques('content/docsutf8/'+ str(i)+ '_2.txt'))
  questions.append(temp)

In [64]:
return_ques('content/docsutf8/'+ '23'+ '_1.txt')

'fish die in water bodies polluted by sewage due to '

In [65]:
def return_key_words(loc):
  f = open(loc)
  # res = []
  res = ''
  Lines = f.readlines()
  for i in Lines:
    res += (' '.join(i.split()[:-1])) + ' '
    # temp.append(round(float(i.split()[-1]),3))
    # res.append(temp)
  return res

In [66]:
keywords = []
for i in range(NQ):
  temp = []
  if os.path.isfile('EmJacc/'+ str(i)+ '_1'):
    temp.append(return_key_words('EmJacc/'+ str(i)+ '_1'))
  if os.path.isfile('EmJacc/'+ str(i)+ '_2'):
    temp.append(return_key_words('EmJacc/'+ str(i)+ '_2'))
  keywords.append(temp)

In [67]:
# column = []
# column.append(keywords)
# column[0]

In [68]:
keywords[0]

['many π bonds ferrocene ', 'many π bonds ferrocene ']

In [69]:
newDf = pd.concat([pd.DataFrame(questions), pd.DataFrame(keywords)], axis=1, names=['ques1', 'ques2', 'keyword_1', 'keyword_2'])
# newDf.to_csv("/content/drive/MyDrive/Extramarks Project/Dataset versions/Model2-Keyword/Embed_and_CotagRank/EmJaccFinal.csv")

In [70]:
newDf

,0,1,0,1
0,how many π bonds are present in ferrocene,how many π are present in ferrocene,many π bonds ferrocene,many π bonds ferrocene
1,how many π bonds are present in ferrocene,how many π bonds are present in silicon dioxide,many π bonds ferrocene,many π bonds ferrocene
2,what is covalency of chlorine atom in second e...,what is covalency of chlorine atom in second e...,chlorine atom second excited state covalency,chlorine atom second excited state covalency
3,calculate value of x y here x and y are the to...,calculate value of x y here x and y are the to...,benzene x bonds benzyne orbitals total number ...,benzene x bonds benzyne orbitals total number ...
4,in phosphorus acid if x is number of non bondi...,in phosphorus acid if x is number of non bondi...,phosphorus acid non bonding electron pairs σ b...,phosphorus acid non bonding electron pairs σ b...
...,...,...,...,...
6115,she wondered whether the project,she wondered whether the project,project,project
6116,i thought that bus fares,i thought that bus fares,bus fares,bus fares
6117,i thought that bus fares,i thought that the bus fares,bus fares,bus fares
6118,i thought that bus fares,i thought that the bus fares,bus fares,bus fares
6119,tim said that he,tim said that he,tim,tim